.chat {
    .chatInfo {
        height: 50px;
        display: flex;
        background: #5d5b8d;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;

        .chatIcons {
            display: flex;
            gap: 10px;
        }
    }

    .input {
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
            width: 100%;
            border: none;
            outline: none;
            color: #2f2d52;
            font-size: 18px;

            &::placeholder {
                color: lightgray;

            }
        }

        .send {
            display: flex;
            align-items: center;
            gap: 10px;

            button {
                border: none;
                padding: 10px 15px;
                color: white;
                background: #5d5b8d;
                cursor: pointer;
            }
        }
    }
}