.navbar {
    display: flex;
    align-items: center;
    background: #0d1f37;
    height: 50px;
    padding: 10px 20px;
    justify-content: space-between;
    color: #ddddf7;

    .logo {
        font-weight: bold;
        font-size: 1.8em;
    }

    .user {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;

        img {
            background-color: #ddddf7;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            object-fit: cover;
        }

        span {
            font-size: 2em;
        }
    }
}