.message {
    display: flex;
    // gap: 20px;
    margin-bottom: 20px;

    .msgInfo {
        display: flex;
        flex-direction: column;
        color: gray;
        align-items: center;
        font-weight: 300;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        span {
            font-size: 0.9em;
        }
    }

    .editdel {
        display: none;
        opacity: 0;
    }

    .msgContent {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 20px;

        p {
            background: linear-gradient(120deg, transparent, lightgray, lightgray);
            padding: 10px 20px;
            border-radius: 0px 10px 10px 10px;
            max-width: max-content;
        }

        img {
            width: 50%;
            object-fit: cover;
            scale: .6;
            opacity: 0;
            animation: fin linear forwards;
            animation-timeline: view();
            animation-range: entry 40px;
        }
    }

    input {
        border: none;
        outline: none;
        background: linear-gradient(60deg, #4a2282, #4a2282, transparent);
        color: white;
        border-radius: 10px 0 10px 10px;
        max-width: max-content;
        animation: clr ease-in-out forwards;
        animation-duration: 1ms;
        animation-direction: alternate;
        animation-timeline: scroll(block nearest);
    }

    &.owner {
        flex-direction: row-reverse;

        .msgContent {
            align-items: flex-end;

            p {
                background: linear-gradient(60deg, #4a2282, #4a2282, transparent);
                color: white;
                border-radius: 10px 0 10px 10px;
                max-width: max-content;
                animation: clr ease-in-out forwards;
                animation-duration: 1ms;
                animation-direction: alternate;
                animation-timeline: scroll(block nearest);
                // animation-timeline: view(10px 50px);
                // animation-timing-function: linear;
            }
        }

        .editdelicon {
            color: white;

            &:hover {
                color: red;
            }
        }
    }

    &:hover {
        &.owner .msgContent {
            margin: 0;
        }

        &.owner .editdel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .editdelicons {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;
            }

            width: 20px;
            animation: fadeIn 0.3s ease forwards;
            animation-delay: 1s;
        }
    }
}

@keyframes fin {
    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes clr {
    0% {
        background: linear-gradient(60deg, #03a0b7, #03a0b7, transparent);
    }

    30% {
        background: linear-gradient(60deg, #4a2282, #4a2282, transparent);
    }

    100% {
        background: linear-gradient(60deg, #4a2282, #4a2282, transparent);
    }
}